
.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #000;
    box-shadow: 5px 4px rgb(167, 167, 167) ;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.pokemon .number{
    color: #ffffffda;
    opacity: .7;
    text-align: right;
    font-size: .755rem;
    font-style: italic;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .755rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.pokemons .detail img{
    max-width: 100%;
    height: 70px;
    background-size: contain;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    
}

.pagination button{
    background-color: #6f38f6;
    border: none;
    color: #fff;
    padding: .50rem .6rem;
    margin: .55rem ;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 5px 4px rgb(167, 167, 167) ;
}


/* media query */

@media screen and (min-width: 768px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media screen and (min-width: 356px) and (max-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr;

    }
}